@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;700&display=swap');
html,body{font-family: 'Roboto Slab', serif;color: #999;}

.container{width: 100%; height: 100vh;background-color: #333;display: flex;}
.header{width: 20%; height: 100%;box-sizing: border-box;padding: 10vh 5vw; display: flex; flex-direction: column;justify-content: space-between;position: relative;z-index: 2;}
.logo{font-size: 2vw; letter-spacing: 2px;}
.copyright{font-size: 0.8vw;}
.nav{position: absolute;right: 5vw; top: 5vh;display: flex;font-size: 20px;}
.nav>li{margin-left: 15px;}
.nav>li>a{display: block;padding: 5px; transition: all 0.3s;}
.nav>li>a:hover{color: #fff;}
.contents{width: 80%; height: 100%;box-sizing: border-box;display: flex;padding-top: 17vh; padding-right: 3vw;}
.conbox{flex: 1; padding: 50px; position: relative; cursor: pointer;transition: flex 1s;}
.inner{display: flex; flex-direction: column; justify-content: space-between;height:90%; position: absolute;}
.inner>div>p:nth-child(1){padding-top: 50px; font-size: 1.5vw;transition: all 0.5s;}
.inner>div>p:nth-child(1)::after{content: ""; display: block;width: 50px;border-top:2px solid #999;margin: 20px 0;transition: all 1s;}
.inner>div>p:nth-child(2){font-size: 13px;}
.inner>video{width: 100%; padding-bottom: 30px;filter: grayscale(100%); transition: all 0.5s;}
/*conbox hover효과*/
.conbox::before{content: ""; display: block; width: 90%; height: 98%; background-color: rgba(255,255,255,0.1); position: absolute; left: -10vw; top: 0;transition: all 0.5s; opacity: 0;}
.conbox:hover{z-index: 1;flex: 1.5;}
.conbox:hover::before{left: -0.1vw; top: 0;opacity: 1;}
.conbox:hover .inner>div>p:nth-child(1){padding-top:0px; font-size: 2.5vw; color: #fff;}
.conbox:hover .inner>div>p:nth-child(1)::after{width:150px;border-color: orange;}
.conbox:hover .inner>video{filter: grayscale(0%);}

/*pages*/
.page{width: 80%; box-sizing: border-box;position: fixed;z-index:1;height: 100vh; background-color:#333 ; display: flex; justify-content: space-between; padding: 15vh 2vw;right:100% ; top:0; opacity: 0;transition: all 0.7s;}
.page_title{width: 25%; color: #fff;}
.page_title>p:nth-child(1){font-size:3vw;}
.page_title>p:nth-child(2){margin: 30px 0;}
.close{color: orange;background: none; border: none; font-size: 1vw;margin-top: 100px; padding: 10px;}
.page_video{width: 72%;height: 100%;}
.page_video video{width: 100%; height: 100%; object-fit: cover;}

.active{top: 0; right: 0; opacity: 1;}